.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.header img {
  width: 70px;
  height: 70px;
}

.header h2 {
  font-size: 20px;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-container h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.main-container h3 {
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 10px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
  border: solid 2px black;
  padding: 20px;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.inputs-container input {
  outline: none;
  height: 30px;
  font-size: 18px;
  padding: 0 4px;
  color: #13c8f5;
}

.inputs-container input:focus:first-of-type {
  border: solid 1px #13c8f5;
}

.obs-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 500px;
  height: 500px;
  padding: 20px;
  border: solid 2px black;
  border-radius: 10px;
}

.obs-container input {
  outline: none;
  height: 30px;
  font-size: 18px;
  padding: 0 4px;
  color: #13c8f5;
  margin-bottom: 10px;
}

.obs-container input:focus {
  border: solid 1px #13c8f5;
}

.obs-container button {
  height: 30px;
  font-size: 18px;
  background: #13c8f5;
  color: #ffff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.obs-container button:hover {
  background: #11afd6;
}

@media only screen and (max-width: 800px) {
  .main-container {
    flex-direction: column;
  }

  .inputs-container {
    max-width: 300px;
    margin-right: 0px;
  }

  .obs-container {
    max-width: 300px;
  }

  .obs-container button {
    height: 50px;
  }
}
